<ui:composition template="../template-clipped.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
        504 <h:outputText value="#{msg['error.504']}" />
    </ui:define>
    
	<ui:define name="content">
	<h:panelGroup layout="block" styleClass="card-body">
		<div class="text-center">
			<img src="https://ontospace.ru/assets/error-ru.png" class="mx-auto d-block img-fluid" />
			<h3 class="display-2 error-pages-title"><i class="fa fa-exclamation-triangle"></i>504</h3>
			<p>
				<h:outputText value="#{msg['error.504']}" />
			</p>
		</div>
	</h:panelGroup>
	</ui:define>

</ui:composition>