<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

 		<div class="alert alert-warning alert-dismissible fade hide fixed-bottom w-75 ml-5 mb-5 notification-component" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&#215;</span>
			</button>
			<strong>#{strongText}</strong> #{plainText}
		</div>

</ui:composition>