<ui:composition template="../template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Выпуск
    </ui:define>

    <ui:define name="content">
	    <h:panelGroup layout="block" styleClass="card-body">	
			Очень интересный выпуск "Аккордеон-Кафе"
		</h:panelGroup>
    </ui:define>
</ui:composition>