@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('css/os-index.css.xhtml');
@import url('css/os-notification-panel.css.xhtml');
@import url('css/os-breadcrumb-master.css.xhtml');
@import url('css/os-menu-card.css.xhtml');
@import url('css/os-totop.css.xhtml');
@import url('css/os-tree.css.xhtml');
@import url('css/os-table.css.xhtml');
@import url('css/os-sidebar-detail.css.xhtml');

html {
	position: relative;
	min-height: 100%;
}

body {
	overflow-x: hidden;
	margin-bottom: 32px;
}

.inside-content {
	margin: .75rem .25rem 0 .25rem ;
}

.text-primary {
    color: #00b5f3!important;
}

.right-side-panels > .container > * {
	margin-bottom: .75rem;
}

/* Sidebars */

#leftToggleExternalContent,
#mainToggleExternalContent,
#rightToggleExternalContent {
	padding-left: 5px;
	padding-right: 5px; 
}

#leftToggleExternalContent .container,
#rightToggleExternalContent .container {
	min-width: 100%;
}

footer {
	border-top-style: solid;
	border-top-width: 1px;
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 32px;
    z-index: 2000;
	font-size: .875rem;
}

.btn-group input.btn {
	cursor: pointer;
}

.btn-group input.btn.disabled {
	cursor: default;
}

input.disabled, select.disabled {
	cursor: default;
	pointer-events: none;
    background-color: #e6e6e6;
} 

label.disabled {
	cursor: default;
	pointer-events: none;
} 

.main-content {
	transition: all .5s linear;
}

.main-content:empty {
	padding: 0;
}



.clear-both {
	clear: both;
}

#form\3a filterPanel {
	margin: 1.25rem 0;
}

.card-header-tabs {
	margin-top: -.5rem;
}

.info-counters-boards {
	font-size: .875rem;
}

/* card-info */

.card strong {
	font-weight: 600;
}

.card-info {
	border-top-width: 2px;
	border-top-color: #00b5f3; 
	background-color: aliceblue;
}

.card-info .card-title {
	color: #09a9e0; 
}

.card-info .dropdown-divider {
	border-top-color: #00b5f350; 
}

.card-info .card-body {
    padding: .75rem 1rem;
}

/* Табличные условные обозначения */

.transparency-3 {
	opacity: .3 !important;
}
 
.transparency-5 {
	opacity: .5 !important;
}
 
.btn-group>.btn {
    margin-right: 3px;
}

.btn-group> :last-child.btn {
    margin-right: 0;
}

.alphabet {
	margin-top: 6px;
}

.alphabet a {
	font-weight: bold;
    margin: 10px 7px 0 0;
    cursor: pointer;
}

.glossary-content {
	padding-top: 20px;
}

.glossary-content dd {
	padding-left: 10px;
}

.glossary-content dd.glossary-eng {
	font-weight: bold;
}



/* ------------------------------------------------------------------------ */

@media ( min-width : 1600px) {
	.card-columns {
		column-count: 4;
	}
}

@media ( max-width : 1300px) {

}

@media ( min-width : 1200px) {
	.link-to-btn {
		text-align: center;
		white-space: nowrap;
		border: 1px solid transparent;
		border-color: #00b5f3;
		padding: .375rem .75rem;
		border-radius: .25rem;
	}
}

@media ( max-width : 1200px) {
	.card-columns {
		column-count: 3;
	}
	
	.navbar-collapse ul {
		align-items: flex-start;
	}
}

@media ( max-width : 992px) {
	
	.sidebar-btn {
		display: none;
	}
	
	.card-columns {
		column-count: 2;
	}
	
	.right-side-panels {
		margin-top: 5px;
	}

	.badge.badge-notification {
		position: static;
	}
}

.dropdown-menu {
	z-index: 2001;
}

.dropdown-menu .label-default {
	white-space: nowrap;
}

.dropdown-menu span i {
	margin-left: 4px;
	width: 20px;
}

.dropdown-menu span {
	padding-left: 2px;
}

a.dropdown-item i {
	padding-right: 8px;
	min-width:20px;
	min-height: 16px;
}

a.dropdown-item {
	padding-left: 2px;
}

.float-right .nav-tools-panel {
    left: auto;
    right: -10px;
    z-index: 9999999;
}

.nav-tools-panel .content {
    padding: 20px 15px;
    text-align: center;
}

.nav-tools-panel .content .row {
	padding: 0.5em 3em;
	white-space: nowrap;
}

.palette button {
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
}

.main-t .dropdown-header {
	font-size: 1em !important;
}

.main-t .second:before {
	content: "• ";
	color: #868e96;
}

@media (min-width: 576px) {
	.modal-dialog {
	min-width: min-content;
    }}

.modal-dialog label {
	white-space: nowrap;
}

.modal-footer {
	margin-top: .75rem;
	padding-bottom: .75rem;
}

.mw-800px {
	max-width: 800px !important;
}

.form-check-inline .form-check-label {
    vertical-align: baseline;
}

.form-check-input {
    margin-left: auto;
}

/*  Error Pages */

.error-pages-title {
	font-weight: 900;
}

.error-pages-title i {
	font-size: 2rem;
    opacity: .5;
    text-indent: -2rem;
}


.semi-hidden-link {
	text-decoration-skip-ink: initial;
    text-decoration: underline !important;
    text-decoration-color: #00000030 !important;
}

.semi-hidden-link:hover:not(.disabled) {
	text-decoration-skip-ink: initial;
    text-decoration: underline;
    text-decoration-color: #000 !important;
}


/* Управляющие кнопки для таблиц и не только */

.btn-magic {
	background-color: #9c44bf;
	color:#fff;
}

.btn-magic:hover:not(.disabled) {
	background-color: #72019e;
	color:#fff;
}

.info-btn,
.more-btn,
.add-btn,
.ok-btn,
.warning-btn,

.info-btn:hover:not(.disabled),
.more-btn:hover:not(.disabled),
.add-btn:hover:not(.disabled),
.ok-btn:hover:not(.disabled),
.warning-btn:hover:not(.disabled) {
    text-decoration: none !important;
/*    padding-left: 0.25rem; */
/*    padding-right: 0.25rem; */
}

.info-btn i,
.more-btn i,
.add-btn i,
.ok-btn i,
.warning-btn i {
	opacity: .8; 
}

.info-btn i,
.more-btn i,
.add-btn i {
	color: #00b5f3;
}

.ok-btn i {
	color: #009f50;
}

.warning-btn i {
	color: #ff0000;
}

.info-btn i:hover:not(.disabled),
.more-btn i:hover:not(.disabled),
.add-btn i:hover:not(.disabled),
.ok-btn i:hover:not(.disabled),
.warning-btn i:hover:not(.disabled) {
	opacity: 1;
	text-shadow: inset 4px 4px 4px #000;
}

/* Меню аккаунта в toolbar */

.navbar-content {
	width: 320px;
}

.border-2x {
	border-width: 2px !important;
}

.media-h5 h5 {
	color: #00aeef;
	font-size: .95rem;
}

li.media {
	cursor: pointer;
	opacity: .8;
}

li.media img {
	border: 2px solid #ffffff;
	width: 2.25rem;
}

li.media:hover:not(.disabled) {
	opacity: 1;
}

li.media:hover:not(.disabled) img {
	border: 2px solid #00aeef;
}

.ws-list {
	overflow-y: auto;
    max-height: 20rem;
}

.small-text {
    font-size: .875rem;
}

.very-small-text {
    font-size: .65rem;
    font-weight: 600;
}

.tag-text {
    color: #344d63;
    background-color: #ffffff;
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid #dfeaf1;
}

.plain-link-text {
	color: #00b5f3;
	opacity: .6;
	font-size: 1rem;
}

.plain-link-text:hover:not(.disabled) {
	opacity: 1;
}

.sortable-placeholder {
	background-color: #85d3f850 !important;
	min-height: 70px;
}

.card.thumbnail .card-body {
	padding: 0.75rem;
}

.card.thumbnail .card-header {
	background-color: rgba(255, 41, 41, 0.03);
	padding: 0.05rem 1.25rem;
	border-color: rgba(255, 41, 41, 0.03);
}

.card.thumbnail .card-footer {
	background-color: rgba(41, 198, 255, 0.05);
	padding: 0.05rem 1.25rem;
}

.bg-00b5f3 {
	background-color: #00b5f3;
}

.btn-info {
	background-color: #00b5f3;
	border-color: #00b5f350;
}

.btn-info:hover:not(.disabled) {
	background-color: #007bff;
}

.btn-info.disabled, .btn-info:disabled {
    color: #eeeeee;
    background-color: #96a6a7;
    border-color: #75898a;
}

.btn-outline-secondary:hover:not(.disabled) {
	background-color: #007bff;
}

.badge-primary {
	background-color: #00b5f3;
}

.btn-outline-primary {
	border-color: #00b5f3; 
}

.border-primary {
    border-color: #00b5f3!important;
}

.btn-primary {
    background-color: #00b5f3;
    border-color: #00b5f3; 
}


/* ------------------------------------------------------------------- */

.sticky-bottom {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;	
	z-index: 1020;
}

.form-btn-block {
	background-color: rgb(255, 255, 255, 0.9);;
	border-top: 1px solid rgba(0,0,0,.075);
	padding: 1.25rem 0 .75rem 0;
	margin-top: 2rem;
}

.card-line .card {
	margin-bottom: .75rem;
	min-height: 16rem;
}

.card-line .card img {
	max-width: 16rem;
}

.required:after {
	content:" *";
	color: red;
}
	
::-webkit-input-placeholder {
  color: #d0d3d7 !important;
}
:-ms-input-placeholder {
  color: #d0d3d7 !important;
}
::-moz-placeholder {
  color: #d0d3d7 !important;
  opacity: 1 !important;
}
:-moz-placeholder {
  color: #d0d3d7 !important;
  opacity: 1 !important;
}

/* ------------------------------------------------------------------- */

.z-index-1030 {
	z-index: 1030;
}

.nowrap {
	white-space: nowrap !important;
}

.flex-center {
	justify-content: center;
}

footer {
	border-top-color: rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.85);
	color: #000;
}

.main-content-header form {
	float: right;
}

.alert {
	margin-bottom: .75rem;	
}

hr {
	margin-top: .45rem;
	margin-bottom: .35rem;
}


.collapsing {
	transition: height 0.25s ease-in-out;
}

.splash {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	background: rgba(255, 255, 255, .2);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	border-radius: 50%;
	transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
}

.btn-right {
	display: flex;
	text-align: right;
    justify-content: flex-end;
}


label {
    font-size: .8rem !important;
}

.nav-tabs > .nav-link {
    padding: .2rem 1rem;
}

.filter-card > .tab-pane > .card-body {
    padding: 0.75rem;
}