/* Хлебные крошки */
.breadcrumb-title {
	background-color: #f6fbff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	margin-bottom: 0;
	font-size: .8rem;
	padding: .55rem 1rem;
}

.breadcrumb-title .breadcrumb-item {
	margin: 0 22px 0 0;
	color: #3c4043;
	white-space: nowrap;
	font-weight: 400;
	position: relative;
	vertical-align: middle;
	font-variant-ligatures: no-contextual;
}

.breadcrumb-title .breadcrumb-item:before {
	content: none;
}

.breadcrumb-item+.breadcrumb-item {
	padding-left: 0;
}

.breadcrumb-title .breadcrumb-item:after {
	content: " › ";
	font-size: 2rem;
	position: absolute;
	right: -17px;
	bottom: -11px;
	opacity: 0.4;
	color: #00b5f3;
}

.breadcrumb-title :last-child.breadcrumb-item {
	font-weight: 600;
	color: black;
}

.breadcrumb-title :last-child.breadcrumb-item:after {
	content: none;
}

.breadcrumb-btn>a {
	font-size: 2rem;
}


.master-title {
    background-clip: border-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 1rem;
}

.master-title .master-item {
    font-size: 1rem;
    color: #3c4043;
    white-space: nowrap;
    font-weight: 400;
    position: relative;
    vertical-align: middle;
    font-variant-ligatures: no-contextual;
    padding: .375rem .75rem;
    margin-right: .25rem;
    border: 1px solid rgba(0,0,0,.075);
    background-color: gainsboro;
    border-top-left-radius: .25rem!important;
	border-top-right-radius: .25rem!important;
	border-bottom: 0!important;
}

.master-title .master-item.activ {
	background-color: #00b5f3;
	color: white;
	font-weight: 600;	
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

.master-title .master-item.after {
	opacity: 0.6;
	background-color: gainsboro;
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}