/* Титульная страница */

/* Анимация на титульной странице */

#rotator {
	position:relative;
}

#rotator img {
	opacity: 0;
}
	
#rotator img#item-2,
div#rotator img#item-3 {
	position: absolute;
	left: 0;
	top: 0;
}