.menu-card {
	background-color: #eaf7ff;
	height: 100%;
}

.menu-card h5 {
	font-size: 1.1rem;
}

.menu-card .card-body {
	color: #0084e4;
	display: flex;
    flex-direction: column;
    text-align: center;
    padding: .75rem;
}

.menu-card .card-title {
	margin-bottom: .25rem;
}

.menu-card .card-text {
	line-height: 1.25rem;
}

.menu-card-btn {
	position: absolute;
	top: .4rem;
	right: .2rem;
}

.menu-card .card-body > i {
	font-size: 2.25rem;
	opacity: .4;
	margin-top: .2rem;
	margin-bottom: .4rem;

}

.menu-card .add-btn i {
	font-size: 1.25rem;
}

.menu-card span.add-btn {
	display: none;
}

.menu-card .card-title a,
.menu-card .add-btn i {
	color: #0084e4;
}
