#alert\:bell.dropdown-toggle:after {
    margin-left: .700em;
}

#alert\:bell .splash {
  top: 38%;
  left: 56%;
  background: rgba(255, 0, 0, 0.7);	
}

.notification-dropdown {
	background-color: whitesmoke;
	font-size: .75rem;
	font-weight: normal;
}

.notification-dropdown small {
	display: block;
}

.notification-dropdown .notification-text {
	flex-grow: 1;
	margin-right: 1rem;
}

.notification-dropdown .close {
	padding: .5rem;
	top: 50%;
	transform: translate(0%, -50%);
}

.notification-dropdown .close span {
	vertical-align: super;
}

.notification-dropdown .alert-dismissible {
	padding-right: 2rem;
}

.badge.badge-notification {
	position: absolute;
	left: 20px;
	top: 4px;
	font-size: .70rem;
    font-weight: normal;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    padding: .25em .45em;
}

.navbar-content .alert {
	display: flex;
	margin: .3rem .2rem;
	padding: .75rem .5rem;
}

.notification-dropdown .navbar-content {
	max-height: 80vh;
	overflow-y: auto;
	margin: .25rem 0;
}

.notification-dropdown p,
.notification-dropdown .progress {
	margin-bottom: .25rem;
}

.alert.fatal {
	color: #fff;
	background-color: #43235c;
	border-color: #8000ff;
}

.alert.fatal .notification-img,
.alert.fatal .notification-text .close {
	text-shadow: none !important;
}

.alert.fatal .notification-text .close:hover {
	color: white;
}

.alert.fatal .notification-img .fa:before {
	content: "\f119";
}

.alert.error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert.error .notification-img .fa:before {
	content: "\f06a";
}

.alert.warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.alert.warning .notification-img .fa:before {
	content: "\f071";
}

.alert.info {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert.info .notification-img .fa:before {
	content: "\f05d";
}

.alert .notification-text strong a {
	text-decoration: underline;
	color: inherit;
}

.navbar-content .alert .notification-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.25rem;
	text-shadow: 0 1px 0 #fff;
	color: inherit;
	opacity: 0.5;
}

.notification-dropdown strong a {
	font-size: .7rem;
}