#sidebar-detail {
	background-color: antiquewhite;
}

#sidebar-detail .card-header,
#sidebar-detail .text-muted {
	color: #A66015!important;
}

#sidebar-detail dl {
    margin-bottom: .5rem;
    padding: .25rem .75rem;
    border-radius: .25rem;
    border-top: 1px solid #d7cbb9;
    border-right: 1px solid #d7cbb9;
    border-bottom: 1px solid #d7cbb9;
}

#sidebar-detail dt {
	font-weight: 450;
    font-size: .9rem;
    opacity: .5 !important
}

#sidebar-detail .card-body > div > div {
/*	border: 1px red solid; */
	position: relative;
}

#sidebar-detail .card-body > div > div > * {
	margin-left: 41px;
}

#sidebar-detail .card-body > div > div:before {
    content: '';
	position: absolute;
    height: 1.75rem;
    width: 1.75rem;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    line-height: 1.75rem;
    font-weight: 400;
}

#sidebar-detail .card-body > div > div:after {
    content: '';
    position: absolute;
    top: 2.375rem;
    left: .8138rem;
    width: .2rem;
    height: 40%;
    height: -webkit-calc(100% - 38px);
    height: calc(100% - 38px);
    background-color: rgba(0,0,0,.1);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

#sidebar-detail .card-body > div > div.approved:before {
	background-color: rgba(92,197,112,.9);
	font-family: FontAwesome;
	content: '\f00c';
}

#sidebar-detail .card-body > div > div.approved:after {
	background-color: rgba(92,197,112,.75);
}

#sidebar-detail .card-body > div > div.active:before {
	background-color: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 4px solid rgba(0,181,243,.9)
}

#sidebar-detail .card-body > div > div.active:after {
	background-color: rgba(0,181,243,.5);
}

#sidebar-detail .card-body > div > div.active.final:after {
	background: -moz-linear-gradient(top, rgba(0,182,243,0.5) 0%, rgba(0,182,243,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,182,243,0.5)), color-stop(100%, rgba(0,182,243,0)));
	background: -webkit-linear-gradient(top, rgba(0,182,243,0.5) 0%, rgba(0,182,243,0) 100%);
	background: -o-linear-gradient(top, rgba(0,182,243,0.5) 0%, rgba(0,182,243,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,182,243,0.5) 0%, rgba(0,182,243,0) 100%);
	background: linear-gradient(to bottom, rgba(0,182,243,0.5) 0%, rgba(0,182,243,0) 100%);
}

#sidebar-detail .card-body > div > div > H5 {
    color: rgba(0,0,0,.3);
	font-size: 1.04rem;
    padding-top: .2rem;
    display: flex;
    justify-content: space-between;
}

#sidebar-detail .card-body > div > div.active > H5 {
    color: rgb(0,181,243);
}

#sidebar-detail .card-body > div > div.approved > H5 {
    color: #A66015;
}

#sidebar-detail .card-body dt {
	color: rgba(0,0,0,.3)!important;
}

#sidebar-detail .card-body .approved dt {
	color: #A66015!important;
}

#sidebar-detail .card-body .active dt {
	color: #A66015!important;
}

#sidebar-detail .table.thead-light thead th {
	background-color: #00000010;
}

#sidebar-detail .table.thead-light thead th {
    border-color: #d9cbb9;
}

#sidebar-detail .table thead th {
    border-bottom: 1px solid #d9cbb9;
}

#sidebar-detail .table td,
#sidebar-detail  .table th {
    border-top: 1px solid #d9cbb9;
}
