.abbr {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0;
}

.table thead {
	font-size: .85rem;
}

.table.thead-light thead th {
    font-weight: 400;
}

.table.small-thead thead th {
	font-size: .725rem;
	font-weight: 600;
	color: #808080;
	border: none;
}

.table tr.selected {
	background-color: #33333333;
} 

.ontotable {
	vertical-align: middle;
}

.table td.text-right {
	white-space: nowrap;
}