#toTop {
	position: fixed;
	color: #fff;
	background-color: #00b5f3;
	right: 20px;
	bottom: 0px;
	padding: 4px 10px;
	font-size: 1.25rem;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
	display: none;
	text-align: center;
	opacity: .7;
	z-index: 2001;
}

#toTop:hover:not(.disabled) {
  background-color: #000; /* цвет заднего фона при наведении */	
}