.tree-list-styled {
	list-style: none;
}

.tree-list-styled li > .form-row {
	/* justify-content: space-between; */
}

.tree-list-styled .folder {
	color: #00b5f3;
}

.tree-list-styled .leaf {
	color: #d8dbde;
	cursor: default !important;
}

.tree-list-styled .list-group-item {
	border: none;
	background-color: transparent;
	border-radius: 0;
}

.tree-list-styled ul {
/* 	border: 1px solid #dae0e2; */
/* 	background-color: #f5f9ff; */
	margin-top: -1px;
/* 	border-top-color: #f5f9ff; */
	-webkit-box-shadow: inset 0px 5px 3px -2px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0px 5px 3px -2px rgba(0,0,0,0.15);
	box-shadow: inset 0px 5px 3px -2px rgba(0,0,0,0.15);
}

.tree-list-styled ul .list-group-item .item-line {
	background-color: white;
}

.tree-list-styled  .list-group-item {
    padding: .25rem 0 .25rem 0.55rem;
    margin: 0 0 0 1rem;
}

.tree-list-styled .list-group-item .item-line {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: .25rem;
	border: 1px solid #dae0e254;
    border-radius: .25rem .25rem 0 0;
    border-left: none;
}

.tree-list-styled .list-group-item .item-line > .bullet {
	position: absolute;
	left: -1.25rem;
}

.tree-list-styled .list-group-item .item-line > * {
	margin-right: .5rem;
}


.tree-list-styled  .list-group-item .push {
	margin-left: auto;
}

.tree-list-styled  .list-group-item i.fa {
	margin-left: .5rem;
}

.tree-list-styled  .list-group-item .custom-select {
	max-width: 50%;
}

.tree-list-styled  .list-group-item .fa-circle-thin {
	opacity: .2;
}

.tree-list-styled .btn {
	border: none;
	padding: 0;
}

.tree-list-styled .form-control {
	width: auto;
}

.tree-list-styled .form-control.custom-select.form-control-sm {
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
    height: inherit !important;
}


/* Выбранная ветка */

.tree-list-styled .list-group-item .item-line.selected {
	background-color: antiquewhite;
	
}

.tree-list-styled  .list-group-item .item-line.selected .fa-circle-thin {
	opacity: 1;
}

.tree-list-styled .list-group-item .item-line.selected i.bullet:before {
	color: #faebd7;
	content: "\f111";
}

.tree-list-styled .list-group-item .item-line.selected .add-btn i {
    color: #797b7c;
}

/* Недоступная для выбора ветка */

.tree-list-styled .list-group-item .item-line.non-selectable {
	background-color: #00000005;
	
}

.tree-list-styled .list-group-item .item-line.non-selectable i.bullet:before {
	color: #00000055;
	content: "\f111";
}

.tree-list-styled .list-group-item .item-line.non-selectable .add-btn i {
    color: #797b7c;
}

/* Right-Side-Panels */

.right-side-panels .tree-list-styled .list-group-item .item-line {
	/* flex-wrap: wrap; */
}

.right-side-panels dd > .tree-list-styled > .list-group-item {
    padding: .15rem 0 .15rem 0;
    margin-left: 0;
}

.right-side-panels .tree-list-styled .list-group-item .item-line {
	padding: 0; 
 	border: 1px solid #d4dcde;
   	background: transparent; 	
}

.right-side-panels .tree-list-styled .list-group-item .item-line > * {
	margin: .25rem;
}

.right-side-panels .tree-list-styled .list-group-item .item-line > i.fa-circle-thin,
.right-side-panels .tree-list-styled .list-group-item .item-line > i.fa-folder-o {
    margin: 0;
}