html {
	position:relative;
	height: 100%;
}

body {
	  height: 100%;
	  margin-bottom: 0;
	  background-color: #021640;
}

h4 {
	color: #00a5e0 !important; 
}

.visual-nav {
  position: absolute;
  z-index: 2000;
  right: 0;
  left: 0;
  top: 0;
}

.visual-content h4 {
    position: absolute;
    top: 2.8em;
    z-index: 2;
    left: 1em;
}

.sidebar-btn {
  display: none;
}

#cy {
  position: absolute;
  left: 0;
  top: 3em;
  bottom: 2em;
  right: 0;
}

a, a:hover {
  color: #62daea;
}

.qtip {
	max-width: 600px !important;
}