html {
	position:relative;
	height: 100%;
}

body {
	  height: 100%;
	  margin-bottom: 0;
}


.visual-nav {
  position: absolute;
  z-index: 2000;
  right: 0;
  left: 0;
  top: 0;
}

.visual-content h4 {
    position: absolute;
    top: 2.8em;
    z-index: 2;
    left: 1em;
    vertical-align: middle;
}

.sidebar-btn {
  display: none;
}

#cy {
  position: absolute;
  left: 0;
  top: 3em;
  bottom: 2em;
  right: 17em;
}

#tools-btn {
  position: absolute;
  top: 3em;
  right: 0;
  border-bottom-left-radius: 10px;
  z-index: 998;
  padding: 0.6em 0.6em 0.2em 0.6em; 
}

.config {
  position: absolute;
  right: 0;
  top: 3em;
  bottom: 2em;
  width: 18.8em;
  box-sizing: border-box;
  padding: 4em 1em 1em 1em;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  overflow: auto;
  z-index: 1;
}

.param {
  margin-bottom: 1em;
}

.param button {
  width: 3em;
  margin: 0.25em;
}

a, a:hover {
  color: #62daea;
}

.label {
  display: inline-block;
}

.slider {
  display: block;
}

.config-tools {
  margin: 0.4em;
  cursor: pointer;
}

#node-label.active,
#last-restore.active,
#all-restore.active,
#node-remove.active,
#neighborhood.active,
#delneighborhood.active {
  pointer-events: auto;
  opacity: 1
}

#last-restore,
#all-restore,
#neighborhood,
#node-remove,
#delneighborhood,
#all-restore {
  pointer-events: none;
  opacity: 0.2
}

#node-remove  {
  color: #ffaeae !important;
}

.neighborhood #neighborhood {
  color: #ff8000 !important;
}


.config-closed .config {
  opacity: 0;
  pointer-events: none;
}

.config-closed #cy {
  right: 0;
}

@media (max-width: 600px){
  #cy {
    right: 0;
  }
}

.label-default {
    background-color: #777;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.card {
	color: #000000;
    margin-bottom: .5rem;
}

.card ul {
	font-size: .75rem;
}

.card-header {
    padding: .25rem 1.25rem;
    border-bottom: none;
    cursor: pointer;
}

.card-header:hover {
	background-color: #f2f2f2;
}

.card-header i {
	color: #c3c3c3;
}

#_nodeTypeBASE {
	background-color: #5283AA;
}

#_nodeTypeINTERFACE {
	background-color: #4EAC84;
}

#_nodeTypeCOMPOSITE {
	background-color: #C1A657;
}

#_nodeTypeENTITY {
	background-color: #C17557;
}

/*
#_nodeNamespacePerson {
	background-color:#f4b69c;
}

#_nodeNamespaceGeo {
	background-color:#f49cc8;
}

#_nodeNamespaceBase {
	background-color:#a39cf4;	
}

#_nodeNamespaceComposite {
	background-color:#9ce5f4;	
}

#_nodeNamespaceDevice {
	background-color:#9cf4a7;	
}

#_nodeNamespaceManufacture {
	background-color:#f4f19c;	
}

#_nodeNamespaceDefault {
	background-color:#f4c89c;	
}
*/
