<ui:composition template="/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
        Elekmonar Classifier
    </ui:define>

	<ui:define name="index-content">
		<div class="row m-0 index-page">
			<div class="col-md-12 p-0">
				<main role="main">
					<div class="container-fluid main-img">
						<div class="row">
							<div class="col-md-7">
								<div id="rotator">
									<img id="item-1" src="https://ontospace.ru/assets/index-img-1.png" class="img-fluid" /> 
									<img id="item-2" src="https://ontospace.ru/assets/index-img-2.png" class="img-fluid float-left" />
									<img id="item-3" src="https://ontospace.ru/assets/index-img-3.png" class="img-fluid float-left" />
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-center">
								<div>
									<h2 class="display-3">Добро пожаловать</h2>
									<p class="lead">
										в облачную вычислительную машину <strong class="font-weight-bold">«Elekmonar»</strong> -
										пространство онтологий, конструктор форм, репозиторий справочников и классификаторов, а
										также репозиторий геоданных.
									</p>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</ui:define>
	<ui:define name="content"></ui:define>
	<ui:define name="javascript">
		<script type="text/javascript">
		  $(document).ready(function() {
			  $('.sidebar-btn').hide()
			  });
		</script>
	</ui:define>
</ui:composition>