<ui:composition template="/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:os="http://ontospace.ru/jsf/components"
	xmlns:osc="http://ontospace.ru/components/taglib">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewAction action="#{request.logout}"/>
			<f:viewAction action="/index.xhtml"/>
		</f:metadata>
	</ui:define>
	
</ui:composition>