<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:insert name="metadata" />
	<title><ui:insert name="title">Default title</ui:insert></title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<script src="/libs/jquery.min.js"></script>
	<h:outputStylesheet name="ontospace.css" library="css" />
	<h:outputStylesheet name="font-onto/style.css" library="fonts" />
	<meta http-equiv="Content-Language" content="ru" />
</h:head>
<h:body>
	<!-- Yandex.Metrika counter -->
	<noscript><div><img src="https://mc.yandex.ru/watch/50847313" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	<div class="container-fluid px-0">
		<div class="row">
			<div class="col-lg-12">
				<ui:include src="/navbar/logobar.xhtml" />
			</div>
		</div>
		<div class="row inside-content">
			<div class="col" id="mainToggleExternalContent">
				<div class="main-content card">
					<ui:insert name="content">Данный раздел находится в стадии разработки</ui:insert>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row vcenter">
				<div class="pull-left col-lg-4 col-xs-12">
					&#169;&#160;OntoSpace 2018
				</div>
			</div>
		</div>
	</footer>
	<div id="toTop"><i class="fa fa-chevron-up"></i></div>
	<ui:insert name="layout"><h:outputText styleClass="layout d-none" value="Default"/></ui:insert>
	<ui:insert name="javascript" />
	<script src="/libs/popper.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/libs/bootstrap-html5sortable/jquery.sortable.js"></script>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
	<h:outputScript name="ontospace.js" library="js" />
</h:body>
</html>