<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:insert name="metadata" />
	<title>
		<ui:insert name="title">Вычислительная облачная машина "Elekmonar"</ui:insert>
	</title>
	<meta charset="utf-8" />	
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="icon" href="/favicon.ico"/>
	<link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />	
	<link href="/libs/fontawesome/css/all.min.css" rel="stylesheet" />
	<link href="/libs/ie10-viewport/css/ie10-viewport.min.css" rel="stylesheet" />
	<link href="/libs/tether/css/tether.min.css" rel="stylesheet" />		
	<h:outputStylesheet name="ritmico.css" library="css" />
	<h:outputStylesheet name="elekmonar.css" library="css" />
	<ui:insert name="css"></ui:insert>
	<meta http-equiv="Content-Language" content="ru" />
</h:head>
<h:body>
	<div class="container-fluid px-0">
		<div class="row">
			<div class="col-lg-12">
				<ui:include src="/navbar/navbar.xhtml" />
			</div>
		</div>
		<ui:insert name="index-content"></ui:insert>
		<div class="row inside-content">
			<div class="col-lg-2 collapse show left-side-panels" id="leftToggleExternalContent">
				<div class="container px-0"><ui:insert name="left-sidebar" /></div>
			</div>
			<div class="col" id="mainToggleExternalContent">
				<div class="main-content card">
					<ui:insert name="content">Данный раздел находится в стадии разработки</ui:insert>
				</div>
			</div>
			<div class="col-lg-3 collapse show right-side-panels" id="rightToggleExternalContent">
				<div class="container px-0">
					<ui:insert name="right-sidebar" />
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row vcenter">
				<div class="pull-left col-lg-4 col-xs-12">
					&#169;&#160;Elekmonar Cloud Machine 2020 !!!
				</div>
			</div>
		</div>
	</footer>
	<div id="toTop"><i class="fa fa-chevron-up"></i></div>
	<ui:insert name="layout"><h:outputText styleClass="layout d-none" value="Default"/></ui:insert>
	<script src="/libs/jquery/jquery.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/libs/ie10-viewport/js/ie10-viewport.min.js"></script>
	<script src="/libs/moment/moment-with-locales.min.js"></script>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
	<h:outputScript name="ritmico.js" library="js" />
	<h:outputScript name="elekmonar.js" library="js" />
	<ui:insert name="javascript" />
</h:body>
</html>